USE [master]
GO
/****** Object:  Database [DataBaseFlashcards]    Script Date: 5/04/2026 1:23:15 p. m. ******/
CREATE DATABASE [DataBaseFlashcards]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DataBaseFlashcards', FILENAME = N'C:\Users\mospi\DataBaseFlashcards.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DataBaseFlashcards_log', FILENAME = N'C:\Users\mospi\DataBaseFlashcards_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DataBaseFlashcards].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DataBaseFlashcards]
GO
/****** Object:  Table [dbo].[Flashcard]    Script Date: 5/04/2026 1:23:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Flashcard](
	[IdFlashcard] [int] IDENTITY(1,1) NOT NULL,
	[Question] [nvarchar](500) NOT NULL,
	[Answer] [nvarchar](500) NOT NULL,
	[QuestionScore] [int] NOT NULL,
	[IdStack] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdFlashcard] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stack]    Script Date: 5/04/2026 1:23:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stack](
	[IdStack] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdStack] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Stack_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudySession]    Script Date: 5/04/2026 1:23:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudySession](
	[IdStudySession] [int] IDENTITY(1,1) NOT NULL,
	[Date] [date] NOT NULL,
	[TotalScore] [int] NOT NULL,
	[IdStack] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdStudySession] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Flashcard]  WITH CHECK ADD FOREIGN KEY([IdStack])
REFERENCES [dbo].[Stack] ([IdStack])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudySession]  WITH CHECK ADD FOREIGN KEY([IdStack])
REFERENCES [dbo].[Stack] ([IdStack])
ON DELETE CASCADE
GO
USE [master]
GO

-- SEEDER

-- =========================
-- INSERT STACKS
-- =========================
INSERT INTO Stack (Name)
VALUES 
('Mathematics'),
('English');

-- =========================
-- OBTENER IDS
-- =========================
DECLARE @MathId INT = (SELECT IdStack FROM Stack WHERE Name = 'Mathematics');
DECLARE @EnglishId INT = (SELECT IdStack FROM Stack WHERE Name = 'English');

-- =========================
-- FLASHCARDS (0 - 10)
-- =========================

-- Mathematics
INSERT INTO Flashcard (Question, Answer, QuestionScore, IdStack)
VALUES
('2+2', '4', 5, @MathId),
('5*3', '15', 8, @MathId),
('10/2', '5', 6, @MathId),
('9-3', '6', 4, @MathId),
('7+8', '15', 9, @MathId),
('12*2', '24', 10, @MathId),
('100/10', '10', 7, @MathId),
('6*6', '36', 8, @MathId),
('15-5', '10', 3, @MathId),
('8+9', '17', 6, @MathId);

-- English
INSERT INTO Flashcard (Question, Answer, QuestionScore, IdStack)
VALUES
('Hello in Spanish', 'Hola', 5, @EnglishId),
('Dog in Spanish', 'Perro', 6, @EnglishId),
('Cat in Spanish', 'Gato', 7, @EnglishId),
('Water in Spanish', 'Agua', 4, @EnglishId),
('Food in Spanish', 'Comida', 8, @EnglishId),
('House in Spanish', 'Casa', 6, @EnglishId),
('Book in Spanish', 'Libro', 5, @EnglishId),
('Car in Spanish', 'Carro', 7, @EnglishId),
('Sun in Spanish', 'Sol', 3, @EnglishId),
('Moon in Spanish', 'Luna', 4, @EnglishId);

-- =========================
-- STUDY SESSIONS (0 - 10)
-- =========================

-- Mathematics
INSERT INTO StudySession (Date, TotalScore, IdStack)
VALUES
('2023-01-15', 6, @MathId),
('2023-03-10', 8, @MathId),
('2023-06-20', 7, @MathId),
('2024-02-05', 5, @MathId),
('2024-08-18', 9, @MathId),
('2025-04-12', 6, @MathId),
('2025-09-30', 8, @MathId),
('2026-01-22', 10, @MathId),
('2026-05-14', 9, @MathId),
('2026-11-03', 7, @MathId);

-- English
INSERT INTO StudySession (Date, TotalScore, IdStack)
VALUES
('2023-02-11', 4, @EnglishId),
('2023-04-25', 6, @EnglishId),
('2023-07-19', 7, @EnglishId),
('2024-03-08', 5, @EnglishId),
('2024-10-12', 8, @EnglishId),
('2025-01-17', 6, @EnglishId),
('2025-06-23', 7, @EnglishId),
('2026-02-14', 9, @EnglishId),
('2026-07-09', 10, @EnglishId),
('2026-12-01', 8, @EnglishId);